.file-picker {
    -webkit-appearance: none;
    position: absolute;
    width: 40%;
    height: 40%;
    text-indent: 100em;
    background: url('../../../assets/images/men.png');
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}